.venv
.vscode
.env
.TODO
__pycache__
__pycache__/
__pypackages__/
*.pyc
*.py[cod]
*$py.class

.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/
cover/
htmlcov

*.log
local_settings.py
db.sqlite3
staticfiles/


